@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 38 100% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 45 100% 58%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 200 98% 45%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 38 100% 50%;
    --chart-1: 38 100% 50%;
    --chart-2: 45 100% 58%;
    --chart-3: 30 100% 48%;
    --chart-4: 200 98% 45%;
    --chart-5: 210 88% 55%;
    --radius: 0.5rem;
    --star-color: hsl(var(--primary));
    --star-bg: hsl(var(--background));
    --intro-text-shadow: 0 0 10px rgba(80,80,80,0.2);
  }
  .dark {
    --background: 222 8% 10%;
    --foreground: 210 40% 98%;
    --card: 222 8% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 100% 58%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 38 100% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 14% 26%;
    --muted-foreground: 215 14% 65%;
    --accent: 200 98% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 14% 26%;
    --input: 215 14% 26%;
    --ring: 45 100% 58%;
    --chart-1: 45 100% 58%;
    --chart-2: 38 100% 50%;
    --chart-3: 30 100% 48%;
    --chart-4: 200 98% 45%;
    --chart-5: 210 88% 55%;
    --star-color: hsl(var(--secondary));
    --star-bg: #0c0f17;
    --intro-text-shadow: 0 0 10px rgba(255,255,255,0.7), 0 0 25px rgba(255, 202, 40, 0.6);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground animate-stars;
    /* Starfield effect */
    --star-size-1: 1px;
    --star-size-2: 2px;
    --star-size-3: 3px;

    background-image: 
      radial-gradient(var(--star-size-3) var(--star-size-3) at 25px 25px, var(--star-color), var(--star-bg)),
      radial-gradient(var(--star-size-2) var(--star-size-2) at 50px 100px, var(--star-color), var(--star-bg)),
      radial-gradient(var(--star-size-1) var(--star-size-1) at 100px 75px, var(--star-color), var(--star-bg));
    background-repeat: repeat;
    background-size: 200px 200px;
    background-color: var(--star-bg);
  }
}
